<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit Mars</h1>
      <p>Meet Martians and enjoy the weather.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="{{ vacation.featured_image}}" alt="Sloth">
    <h3>Martian News:</h3>
    <h2>{{ vacation.headline }}</h2>
    <h2>{{ vacation.teaser }}</h2>
    <h2>The typical weather in Costa Rica is:</h2>
    <h3>Max Temp: {{ vacation.headline }}</h3>
    <h3>Min Temp: {{ vacation.teaser }}</h3>
    <div>{{ vacation.mars_facts_table|safe }}

    </div>
  </div>
  </div>
</body>

</html>
